@import url(https://fonts.googleapis.com/css?family=Playfair+Display:400,700&subset=latin,cyrillic);
#dropdown-menu-b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-b .nav .link,
#dropdown-menu-b .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-b .navbar,
#dropdown-menu-b .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-b .dropdown-menu a:hover,
#dropdown-menu-b .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-b .navbar-toggler {
  color: #000000;
}
#dropdown-menu-b A {
  font-size: 20px;
}
#msg-box3-7 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-7 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-7 small {
  font-size: 22px;
}
#msg-box3-7 .lead P {
  font-size: 19px;
}
#dropdown-menu-c .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-c .nav .link,
#dropdown-menu-c .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-c .navbar,
#dropdown-menu-c .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-c .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-c .dropdown-menu a:hover,
#dropdown-menu-c .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-c .navbar-toggler {
  color: #000000;
}
#dropdown-menu-c A {
  font-size: 20px;
}
#msg-box4-i .btn {
  font-size: 16px;
}
#msg-box4-j .btn {
  font-size: 16px;
}
#msg-box4-k .btn {
  font-size: 16px;
}
#dropdown-menu-d .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-d .nav .link,
#dropdown-menu-d .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-d .navbar,
#dropdown-menu-d .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-d .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-d .dropdown-menu a:hover,
#dropdown-menu-d .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-d .navbar-toggler {
  color: #000000;
}
#dropdown-menu-d A {
  font-size: 20px;
}
#contacts2-14 DIV {
  color: #000000;
}
#dropdown-menu-e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-e .nav .link,
#dropdown-menu-e .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-e .navbar,
#dropdown-menu-e .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-e .dropdown-menu a:hover,
#dropdown-menu-e .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-e .navbar-toggler {
  color: #000000;
}
#dropdown-menu-e A {
  font-size: 20px;
}
#msg-box4-1r .btn {
  font-size: 16px;
}
#msg-box4-1t .btn {
  font-size: 16px;
}
#msg-box4-1u .btn {
  font-size: 16px;
}




#dropdown-menu-l .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-l .nav .link,
#dropdown-menu-l .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-l .navbar,
#dropdown-menu-l .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-l .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-l .dropdown-menu a:hover,
#dropdown-menu-l .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-l .navbar-toggler {
  color: #000000;
}
#dropdown-menu-l A {
  font-size: 20px;
}
#msg-box3-1z .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-1z .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-1z .btn {
  font-size: 12px;
}
#header2-1y .btn {
  font-family: 'Playfair Display', sans-serif;
}
#header2-r .btn {
  font-family: 'Playfair Display', sans-serif;
}
#header2-s .btn {
  font-family: 'Playfair Display', sans-serif;
}
#header2-t .btn {
  font-family: 'Playfair Display', sans-serif;
}
#dropdown-menu-m .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-m .nav .link,
#dropdown-menu-m .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-m .navbar,
#dropdown-menu-m .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-m .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-m .dropdown-menu a:hover,
#dropdown-menu-m .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-m .navbar-toggler {
  color: #000000;
}
#dropdown-menu-m A {
  font-size: 20px;
}
#msg-box3-20 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-20 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-20 .btn {
  font-size: 12px;
}
#features1-u P {
  text-align: center;
  font-size: 14px;
}
#features1-v P {
  text-align: center;
  font-size: 14px;
}
#dropdown-menu-n .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-n .nav .link,
#dropdown-menu-n .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-n .navbar,
#dropdown-menu-n .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-n .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-n .dropdown-menu a:hover,
#dropdown-menu-n .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-n .navbar-toggler {
  color: #000000;
}
#dropdown-menu-n A {
  font-size: 20px;
}
#msg-box3-21 .mbr-header .mbr-header__text {
  text-align: center;
}
#msg-box3-21 .mbr-header .mbr-header__subtext {
  text-align: center;
}
#msg-box3-21 .btn {
  font-size: 12px;
}
#features1-12 P {
  text-align: center;
  font-size: 14px;
}
#features1-12 .btn {
  font-size: 14px;
}
#features1-13 P {
  text-align: center;
  font-size: 14px;
}
#features1-13 .btn {
  font-size: 14px;
}
#dropdown-menu-15 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-15 .nav .link,
#dropdown-menu-15 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-15 .navbar,
#dropdown-menu-15 .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-15 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-15 .dropdown-menu a:hover,
#dropdown-menu-15 .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-15 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-15 A {
  font-size: 20px;
}
#form1-16 .mbr-section-title {
  font-size: 30px;
}
#contacts2-17 DIV {
  color: #000000;
}
#dropdown-menu-18 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-18 .nav .link,
#dropdown-menu-18 .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-18 .navbar,
#dropdown-menu-18 .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-18 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-18 .dropdown-menu a:hover,
#dropdown-menu-18 .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-18 .navbar-toggler {
  color: #000000;
}
#dropdown-menu-18 A {
  font-size: 20px;
}
#form1-19 .mbr-section-title {
  font-size: 30px;
}
#contacts2-1a DIV {
  color: #000000;
}
#dropdown-menu-1b .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1b .nav .link,
#dropdown-menu-1b .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-1b .navbar,
#dropdown-menu-1b .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-1b .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1b .dropdown-menu a:hover,
#dropdown-menu-1b .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-1b .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1b A {
  font-size: 20px;
}
#form1-1c .mbr-section-title {
  font-size: 30px;
}
#contacts2-1d DIV {
  color: #000000;
}
#dropdown-menu-1e .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1e .nav .link,
#dropdown-menu-1e .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-1e .navbar,
#dropdown-menu-1e .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-1e .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1e .dropdown-menu a:hover,
#dropdown-menu-1e .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-1e .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1e A {
  font-size: 20px;
}
#form1-1f .mbr-section-title {
  font-size: 30px;
}
#contacts2-1g DIV {
  color: #000000;
}
#dropdown-menu-1i .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1i .nav .link,
#dropdown-menu-1i .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-1i .navbar,
#dropdown-menu-1i .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-1i .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1i .dropdown-menu a:hover,
#dropdown-menu-1i .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-1i .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1i A {
  font-size: 20px;
}
#form1-1j .mbr-section-title {
  font-size: 30px;
}
#form2-1x .mbr-section-title {
  font-size: 30px;
}
#dropdown-menu-1o .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-1o .nav .link,
#dropdown-menu-1o .dropdown-item {
  font-size: 1.2em;
  color: #000000;
}
#dropdown-menu-1o .navbar,
#dropdown-menu-1o .dropdown-menu {
  background: #f8f8f6;
}
#dropdown-menu-1o .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-1o .dropdown-menu a:hover,
#dropdown-menu-1o .dropdown-menu a:focus {
  background: #efefeb;
}
#dropdown-menu-1o .navbar-toggler {
  color: #000000;
}
#dropdown-menu-1o A {
  font-size: 20px;
}
#form1-1p .mbr-section-title {
  font-size: 30px;
}
#form2-1y .mbr-section-title {
  font-size: 30px;
}
